    <nav>
        <ul>
            <li>
                <a href="https://safe-badlands-66656.herokuapp.com/">Home</a>
            </li>
            <li>
                <a href="https://safe-badlands-66656.herokuapp.com/code">Code</a>
            </li>

        </ul>
    </nav>